@model PMTool.Models.TaskList

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>TaskList</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TaskListName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TaskListName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TaskListOpen)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TaskListOpen)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Project)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Project.ProjectDescription)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.TaskListId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
