@model IEnumerable<PMTool.Models.TaskList>

@{
    ViewData["Title"] = "Index";
}

<style>
    #insideRectangle {
        width: 260px;
        font-size: small;
        background-color: #F3F3F3;
        color: #333333;
        border: 1px solid #333333;
        border-radius: 5px;
        padding: 10px;
        padding-bottom: 10px;
        float: left;
    }

    #outsideRectangle {
        background-color: #E8F7F7;
    }
</style>
<br />
<h2 class="text-center">
    Task lists</h2>
<br />


<div class="container" id="outsideRectangle">
    <ol>
        @foreach (var item in Model)
        {
            <li>

                <a asp-controller="task" asp-route-id="@item.TaskListId" asp-route-listName="@item.TaskListName">
                    <div class="rectangle">
                        <p class="text-center"><b><u>@Html.DisplayName(item.TaskListName)</u></b></p>
                        @foreach (var taskItem in item.Task)
                        {
                            <div id="insideRectangle">
                                <p><b>Task: </b>@Html.DisplayName(taskItem.TaskName)</p>
                                <p><b>Due to: </b>@Html.DisplayFor(modelItem => taskItem.ExpectedDate)</p>
                                <p>
                                    <b>Status:</b>@if (taskItem.TaskActiveFlag == 1)
                                    {<b>Open</b>}
                                    else
                                    { <b>Finished</b>}
                                </p>
                            </div>
                        }
                    </div>
                </a>
            </li>

        }
    </ol>
</div>
<br />
<p class="text-center">
    <a asp-action="Create" class="btn btn-primary">Add Task List</a>
</p>

