@model IEnumerable<PMTool.Models.TaskList>
@using Microsoft.AspNetCore.Http

@{
    ViewData["Title"] = $"Project {Context.Session.GetString("projectName")}";
}


<br />
<h2 class="display text-center">@ViewData["Title"]</h2>
<div class="card mb-3">
</div>

<div class="jumbotron">
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-4">
                <a asp-action="Create" class="btn btn-secondary">Add Task List</a>
        </div>
    </div> 
    <br />
    <ol class="row">
        @foreach (var item in Model)
        {
            
            <li class="col-md-4">
                <div class="card bg-secondary mb-3" style="color: darkslategray;">
                        <div >
                            <h5 class="card-header"><a asp-controller="task" asp-route-id="@item.TaskListId" asp-route-listName="@item.TaskListName">@Html.DisplayName(item.TaskListName)</a></h5>
                            <br />
                        </div>
                        @foreach (var taskItem in item.Task)
                        {
                            <a asp-controller="task" asp-action="Details" asp-route-id="@taskItem.TaskId">
                                <div class="card text-white bg-success mb-3" style="max-width:280px; margin:auto;">
                                    <p class="card-header">Task:@Html.DisplayFor(modelItem => taskItem.TaskName)</p>
                                    <div class="card-body">
                                        <p class="card-text">Due to:@Html.DisplayFor(modelItem => taskItem.ExpectedDate)</p>
                                        <p class="card-text">
                                            Status:@if (taskItem.TaskActiveFlag == 1)
                                            {<b>Open</b>}
                                            else
                                            { <b>Finished</b>}
                                        </p>
                                    </div>
                                </div>    
                            </a>      
                        }
                </div>
            </li>

        }
    </ol>
</div>


