@model PMTool.Models.Task

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Task</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TaskName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TaskName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TaskWeight)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TaskWeight)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TaskDescription)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TaskDescription)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ExpectedDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ExpectedDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TaskDuration)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TaskDuration)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TaskActiveFlag)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TaskActiveFlag)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Employee)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Employee.EmployeeId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TaskList)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TaskList.TaskListId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.TaskId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
