@model PMTool.Models.Task
@using Microsoft.AspNetCore.Http;

@{
    ViewData["Title"] = "Task Details";
}

<h2 class="text-center">@ViewData["Title"]</h2>

<div class="container">
    <div id="largGreyBox">
        <p class="text-capitalize"><b>Task name: <u>@Html.DisplayFor(model => model.TaskName)</u></b></p>
        <br />
        <p>Duration: <b>@Html.DisplayFor(model => model.TaskDuration)</b></p>
        <p>Due date: <b>@Html.DisplayFor(model => model.ExpectedDate)</b> </p>
        <p>Weight: <b>@Html.DisplayFor(model => model.TaskWeight)</b></p> 
        <p>Task list: <b>@Context.Session.GetString("listName")</b></p>
        <p>Status: <b>@Html.DisplayFor(model => model.TaskActiveFlag)</b></p>
        <p>Description: </p>
        <p><i>@Html.DisplayFor(model => model.TaskDescription)</i></p>
        <p class="text-right">
            <a class="btn btn-primary" asp-action="Edit" asp-route-id="@Model.TaskId">Edit</a>
        </p>
    </div>
</div>

<div class="container">

    @*<div class="container">
    <ol>
        @foreach (var item in Model.TaskInfo)
        {
            <li>
                <div class="rectangle" id="largCard">
                    <p>@Html.DisplayFor(modelItem => item.TaskNote)</p>
                </div>
            </li>
        }
    </ol>       
    </div>*@
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>
