@model IEnumerable<PMTool.Models.Task>


@{
    ViewData["Title"] = "Index";
}
<br />
<h2 class="text-center">Tasks</h2>



<div class="container" id="outsideRectangle">
    <div id="largBox">
        <ol>
            @foreach (var item in Model)
            {
                <li>

                    <a asp-controller="task" asp-action="Details" asp-route-id="@item.TaskId">
                        <div class="rectangle" id="largCard">
                            <p class="text-left"><b>Task: </b>@Html.DisplayName(item.TaskName)</p>
                            <p class="text-left"><b>Due to: </b>@Html.DisplayFor(modelItem => item.ExpectedDate)</p>
                            <p class="text-left">
                                <b>Status:</b>@if (item.TaskActiveFlag == 1)
                                {<b>Open</b>}
                                else
                                { <b>Finished</b>}
</div>
                    </a>
                </li>
            }
        </ol>
    </div>
</div>
<br />
<p class="text-center">
    <a asp-action="Create" class="btn btn-primary">Add Task</a>
</p>
                        @*<table class="table">
                                <thead>
                                    <tr>
                                            <th>
                                                @Html.DisplayNameFor(model => model.TaskName)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.TaskWeight)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.TaskDescription)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.ExpectedDate)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.TaskDuration)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.TaskActiveFlag)
                                            </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.Employee)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.TaskList)
                                        </th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                            @foreach (var item in Model) {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.TaskName)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.TaskWeight)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.TaskDescription)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.ExpectedDate)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.TaskDuration)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.TaskActiveFlag)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Employee.EmployeeId)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.TaskList.TaskListId)
                                        </td>
                                        <td>
                                            <a asp-action="Edit" asp-route-id="@item.TaskId">Edit</a> |
                                            <a asp-action="Details" asp-route-id="@item.TaskId">Details</a> |
                                            <a asp-action="Delete" asp-route-id="@item.TaskId">Delete</a>
                                        </td>
                                    </tr>
                            }
                                </tbody>
                            </table>*@
