@model PMTool.Models.Person

@{
    ViewData["Title"] = $" Details of {ViewBag.firstName} {ViewBag.lastName}";
}



<div class="row">

    <div class="col-md-4"></div>
    <div class="col-md-4">

        <h2 class="text-center">@ViewData["Title"]</h2>

            <hr />
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.FirstName)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.FirstName)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.LastName)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.LastName)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.MiddleName)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.MiddleName)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Address)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Address)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Email)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Email)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Address2)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Address2)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.PostalCode)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.PostalCode)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.PhoneNumber)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.PhoneNumber)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.PersonImage)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.PersonImage)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Province)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Province.ProvinceCode)
                </dd>
            </dl>
            <div class="text-center">
                <a asp-action="Edit" asp-route-id="@Model.PersonId" class="btn btn-success">Edit</a>
                <a asp-controller="Clients" asp-action="DeleteClient" asp-route-id="@Model.PersonId" class="btn btn-danger">Delete</a>
            </div>
    </div>

    <div class="col-md-4"></div>

    
</div>