@model PMTool.Models.Client

@{
    ViewData["Title"] = $"Details for {ViewBag.firstName} {ViewBag.lastName} ";
}

<br />
<div class="row text-center">
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <h2>@ViewData["Title"]</h2>
    </div>
    <div class="col-md-4"></div>
</div>
<br />

<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-4">

        <dl class="text-center table-bordered rounded">

            <dt class="table-bordered table-light rounded">
                Client Name
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Person.FirstName) @Html.DisplayFor(model => model.Person.LastName)
            </dd>
            <dt class="table-bordered table-light rounded">
                @Html.DisplayNameFor(model => model.BusinessDescription)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.BusinessDescription)
            </dd>
            <dt class="table-bordered table-light rounded">
                @Html.DisplayNameFor(model => model.WebAddress)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.WebAddress)
            </dd>
            <dt class="table-bordered table-light rounded">
                @Html.DisplayNameFor(model => model.DomainLoginUrl)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.DomainLoginUrl)
            </dd>
            <dt class="table-bordered table-light rounded">
                @Html.DisplayNameFor(model => model.DomainUsername)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.DomainUsername)
            </dd>
            <dt class="table-bordered table-light rounded">
                @Html.DisplayNameFor(model => model.DomainPassword)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.DomainPassword)
            </dd>
            <dt class="table-bordered table-light rounded">
                @Html.DisplayNameFor(model => model.HostingLoginUrl)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.HostingLoginUrl)
            </dd>
            <dt class="table-bordered table-light rounded">
                @Html.DisplayNameFor(model => model.HostingUserName)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.HostingUserName)
            </dd>
            <dt class="table-bordered table-light rounded">
                @Html.DisplayNameFor(model => model.HostingPassword)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.HostingPassword)
            </dd>
            <dt class="table-bordered table-light rounded">
                @Html.DisplayNameFor(model => model.WpLoginUrl)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.WpLoginUrl)
            </dd>
            <dt class="table-bordered table-light rounded">
                @Html.DisplayNameFor(model => model.WpUserName)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.WpUserName)
            </dd>
            <dt class="table-bordered table-light rounded">
                @Html.DisplayNameFor(model => model.WpPassword)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.WpPassword)
            </dd>
            <dt class="table-bordered table-light rounded">
                @Html.DisplayNameFor(model => model.GoogleAnalyticsUrl)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.GoogleAnalyticsUrl)
            </dd>
            <dt class="table-bordered table-light rounded">
                @Html.DisplayNameFor(model => model.GoogleAnalyticsUsername)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.GoogleAnalyticsUsername)
            </dd>
            <dt class="table-bordered table-light rounded">
                @Html.DisplayNameFor(model => model.GoogleAnalyticsPassword)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.GoogleAnalyticsPassword)
            </dd>
            <dt class="table-bordered table-light rounded">
                @Html.DisplayNameFor(model => model.GoogleSearchConsoleUrl)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.GoogleSearchConsoleUrl)
            </dd>
            <dt class="table-bordered table-light rounded">
                @Html.DisplayNameFor(model => model.GoogleSearchConsoleUsername)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.GoogleSearchConsoleUsername)
            </dd>
            <dt class="table-bordered table-light rounded">
                @Html.DisplayNameFor(model => model.GoogleSearchConsolePassword)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.GoogleSearchConsolePassword)
            </dd>
            <dt class="table-bordered table-light rounded">
                @Html.DisplayNameFor(model => model.BingWemasterToolsUrl)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.BingWemasterToolsUrl)
            </dd>


        </dl>
    </div>
    <div class="col-md-4">
        <dl class="text-center table-bordered rounded">
            <dt class="table-bordered table-light rounded">
                @Html.DisplayNameFor(model => model.BingWemasterToolsUsername)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.BingWemasterToolsUsername)
            </dd>
            <dt class="table-bordered table-light rounded">
                @Html.DisplayNameFor(model => model.BingWemasterToolsPassword)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.BingWemasterToolsPassword)
            </dd>
            <dt class="table-bordered table-light rounded">
                @Html.DisplayNameFor(model => model.GoogleMyBusinessUrl)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.GoogleMyBusinessUrl)
            </dd>
            <dt class="table-bordered table-light rounded">
                @Html.DisplayNameFor(model => model.GoogleMyBusinessUsername)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.GoogleMyBusinessUsername)
            </dd>
            <dt class="table-bordered table-light rounded">
                @Html.DisplayNameFor(model => model.GoogleMyBusinessPassword)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.GoogleMyBusinessPassword)
            </dd>
            <dt class="table-bordered table-light rounded">
                @Html.DisplayNameFor(model => model.KeyWords)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.KeyWords)
            </dd>
            <dt class="table-bordered table-light rounded">
                @Html.DisplayNameFor(model => model.TargetKeyPhases)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.TargetKeyPhases)
            </dd>
            <dt class="table-bordered table-light rounded">
                @Html.DisplayNameFor(model => model.TargetAreas)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.TargetAreas)
            </dd>
            <dt class="table-bordered table-light rounded">
                @Html.DisplayNameFor(model => model.CompetitorsUrl)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.CompetitorsUrl)
            </dd>
            <dt class="table-bordered table-light rounded">
                @Html.DisplayNameFor(model => model.SocialMedia)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.SocialMedia)
            </dd>
            <dt class="table-bordered table-light rounded">
                @Html.DisplayNameFor(model => model.SocialMedia2)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.SocialMedia2)
            </dd>
            <dt class="table-bordered table-light rounded">
                @Html.DisplayNameFor(model => model.SocialMedia3)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.SocialMedia3)
            </dd>
            <dt class="table-bordered table-light rounded">
                @Html.DisplayNameFor(model => model.SocialMedia4)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.SocialMedia4)
            </dd>
            <dt class="table-bordered table-light rounded">
                @Html.DisplayNameFor(model => model.OtherMarketingTypes)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.OtherMarketingTypes)
            </dd>
            <dt class="table-bordered table-light rounded">
                @Html.DisplayNameFor(model => model.MonthlyBudget)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.MonthlyBudget)
            </dd>
            <dt class="table-bordered table-light rounded">
                @Html.DisplayNameFor(model => model.MonthlyClientTarget)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.MonthlyClientTarget)
            </dd>
            <dt class="table-bordered table-light rounded">
                @Html.DisplayNameFor(model => model.ExpandPlaning)
            </dt>
            <dd>
                @if (Model.ExpandPlaning == 1)
                {
                    <span>Yes</span>
                }
                else
                {
                    <span>No</span>
                }
            </dd>
            <dt class="table-bordered table-light rounded">
                @Html.DisplayNameFor(model => model.MarketingGoals)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.MarketingGoals)
            </dd>

        </dl>
    </div>

    <div class="col-md-2"></div>
</div>
<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <div class="text-center">
            <a asp-action="Edit" asp-route-id="@Model.ClientId" class="btn btn-outline-success">Edit</a> |
            <a asp-action="Index" class="btn btn-outline-primary">Back to List</a>
        </div>
    </div>
    <div class="col-md-4"></div>
</div>    

