@model PMTool.Models.Client

@{
    ViewData["Title"] = $"Details for {ViewBag.firstName}";
}

<style>

    dt {
        padding-right: 50em;
    }

</style>

<h2>@ViewData["Title"]</h2>

<div >
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.BusinessDescription)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.BusinessDescription)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.WebAddress)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.WebAddress)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DomainLoginUrl)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DomainLoginUrl)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DomainUsername)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DomainUsername)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DomainPassword)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DomainPassword)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.HostingLoginUrl)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.HostingLoginUrl)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.HostingUserName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.HostingUserName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.HostingPassword)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.HostingPassword)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.WpLoginUrl)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.WpLoginUrl)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.WpUserName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.WpUserName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.WpPassword)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.WpPassword)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.GoogleAnalyticsUrl)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.GoogleAnalyticsUrl)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.GoogleAnalyticsUsername)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.GoogleAnalyticsUsername)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.GoogleAnalyticsPassword)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.GoogleAnalyticsPassword)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.GoogleSearchConsoleUrl)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.GoogleSearchConsoleUrl)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.GoogleSearchConsoleUsername)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.GoogleSearchConsoleUsername)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.GoogleSearchConsolePassword)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.GoogleSearchConsolePassword)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.BingWemasterToolsUrl)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.BingWemasterToolsUrl)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.BingWemasterToolsUsername)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.BingWemasterToolsUsername)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.BingWemasterToolsPassword)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.BingWemasterToolsPassword)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.GoogleMyBusinessUrl)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.GoogleMyBusinessUrl)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.GoogleMyBusinessUsername)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.GoogleMyBusinessUsername)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.GoogleMyBusinessPassword)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.GoogleMyBusinessPassword)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.KeyWords)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.KeyWords)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TargetKeyPhases)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TargetKeyPhases)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TargetAreas)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TargetAreas)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CompetitorsUrl)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CompetitorsUrl)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SocialMedia)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SocialMedia)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SocialMedia2)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SocialMedia2)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SocialMedia3)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SocialMedia3)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SocialMedia4)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SocialMedia4)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.OtherMarketingTypes)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.OtherMarketingTypes)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MonthlyBudget)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MonthlyBudget)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MonthlyClientTarget)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MonthlyClientTarget)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ExpandPlaning)
        </dt>
        <dd>
            @if (Model.ExpandPlaning == 1)
            {
                <span>Yes</span>
            }
            else
            {
                <span>No</span>
            }
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MarketingGoals)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MarketingGoals)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Person)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Person.Email)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ClientId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
