@model IEnumerable<PMTool.Models.Client>
@{
    ViewData["Title"] = "Client list";
}

<h2>@ViewData["Title"]</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Person)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WebAddress)
            </th>
            

            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Person.FirstName)  @Html.DisplayFor(modelItem => item.Person.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WebAddress)
            </td>
            
            
            <td>
                <a asp-action="Edit" asp-route-firstName="@item.Person.FirstName" asp-route-id="@item.ClientId">Edit</a> |
                <a asp-action="Details" asp-route-firstName="@item.Person.FirstName"  asp-route-id="@item.ClientId">Details</a> |
                <a asp-action="Delete" asp-route-firstName="@item.Person.FirstName"  asp-route-id="@item.ClientId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
