@model IEnumerable<PMTool.Models.Client>
@{
    ViewData["Title"] = "Client list";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-3">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <br /><br /><br />
                    <span style="display:inline-block">
                        <label for="taEmail" style="display:block"><b>Create new client<br />Type emails: (Separate by comma)</b></label>
                        <textarea rows="5" cols="50" id="taEmail" name="taEmail"></textarea>
                    </span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-default" />
                </div>
            </form>
        </div>
        <div class="col-md-9">
            <h2 class="text-center">@ViewData["Title"]</h2>
            <p>
                <a asp-action="Create" class="btn btn-default center-block">Create New</a>
            </p>
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            Client
                        </th>
                        @*<th>
                            Web Address
                        </th>*@

                        <th class="text-center">
                            Actions
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Person.FirstName)  @Html.DisplayFor(modelItem => item.Person.LastName)
                            </td>
                            @*<td>
                                @Html.DisplayFor(modelItem => item.WebAddress)
                            </td>*@


                            <td class="text-right">
                                @*<a asp-action="Edit" asp-route-firstName="@item.Person.FirstName" asp-route-id="@item.ClientId" class="btn btn-success">Edit</a>*@ 
                                <a asp-action="Details" asp-route-lastName="@item.Person.LastName" asp-route-firstName="@item.Person.FirstName" asp-route-id="@item.ClientId" class="btn btn-default">Company Details</a>
                                <a asp-action="Details" asp-controller="Person" asp-route-firstName="@item.Person.FirstName" asp-route-lastName="@item.Person.LastName"
                                   asp-route-id="@item.PersonId" class="btn btn-primary">Client Details</a>
                                @*<a asp-action="Delete" asp-route-firstName="@item.Person.FirstName" asp-route-id="@item.ClientId" class="btn btn-danger">Delete</a>*@
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        @*<div class="col-md-2"></div>*@
    </div>
</div>
