@model PMTool.Models.Employee

@{
    ViewData["Title"] = $"Details of employee";
}

<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <h2>@ViewData["Title"]</h2>
        <hr />
        <div>
            <dl class="text-center table-bordered rounded">
                <dt class="table-bordered table-light rounded">
                    Employee Name
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Person.FirstName) @Html.DisplayFor(model => model.Person.LastName)
                </dd>
                <dt class="table-bordered table-light rounded">
                    @Html.DisplayNameFor(model => model.EmployeeNumber)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.EmployeeNumber)
                </dd>
            </dl>
        </div>
        <div class="text-center">
            <a asp-action="Edit" asp-route-id="@Model.EmployeeId" class="btn btn-outline-success">Edit</a> |
            <a asp-action="Index" class="btn btn-outline-primary">Back to List</a>
        </div>
    </div>
    <div class="col-md-4"></div>
</div>


