@model PMTool.Models.Employee

@{
    ViewData["Title"] = $"Details of employee";
}

<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <h2>@ViewData["Title"]</h2>
        <hr />
        <div id="box">
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.EmployeeNumber)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.EmployeeNumber)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Person)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Person.Email)
                </dd>
            </dl>
        </div>
        <div>
            <a asp-action="Edit" asp-route-id="@Model.EmployeeId" class="btn btn-primary">Edit</a> |
            <a asp-action="Index">Back to List</a>
        </div>
    </div>
    <div class="col-md-4"></div>
</div>


