@model IEnumerable<PMTool.Models.Employee>
@{
    ViewData["Title"] = "Employee List";
}

<br />
<div class="container-fluid">
    <div class="row">
        <div class="col-md-3">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <br /><br /><br />
                    <span style="display:inline-block">
                        <label for="taEmail" style="display:block"><b>To create new employee<br />Type emails: (Separated by comma)</b></label>
                        <textarea rows="5" cols="50" id="taEmail" name="taEmail"></textarea>
                    </span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-light d-lg-block" />
                </div>
            </form>
        </div>
        <div class="col-md-9">
            <h2 class="text-center">@ViewData["Title"]</h2>
            @*<hr />
            <p>
                <a asp-action="Create" class="btn btn-default center-block">Create New</a>
            </p>*@
            <table class="table table-bordered">
                <thead>
                    <tr class="text-center">
                        <th>
                            Employee Name
                        </th>
                        <th>
                            Email
                        </th>
                        <th>
                            Address
                        </th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Person.FirstName) @Html.DisplayFor(modelItem => item.Person.LastName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Person.Email)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Person.Address)
                            </td>
                            <td class="text-center">
                                <a asp-action="Details" asp-route-id="@item.EmployeeId" class="btn btn-outline-info">Employee Details</a> |
                                <a asp-action="Details" asp-controller="Person" asp-route-firstName="@item.Person.FirstName" asp-route-lastName="@item.Person.LastName"
                                   asp-route-id="@item.PersonId" class="btn btn-outline-primary">Personal Details</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        
   </div>
</div>

      
