@model PMTool.Models.Project

<div class="jumbotron" >
    <h4 class="display-4">Project @Html.DisplayFor(model => model.ProjectName)</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>

            Project Status
        </dt>
        <dd>
            @if(Model.ProjectOpen == 1)
            {
                <b>OPEN</b>
            }
            else
            {
                <b>ARQUIVED</b>
            }
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.StartDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EndDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EndDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ProjectDescription)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ProjectDescription)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Client)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Client.BusinessDescription)
        </dd>
    </dl>
    <a class="btn btn-outline-success" asp-action="Edit" asp-route-id="@Model.ProjectId" @*asp-route-projectId="@item.ProjectId" asp-route-projectName="@item.ProjectName" *@>Edit</a>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>
